.products {
    margin-top: 40px;
}
.product-card {
    display: flex;
    justify-content: center;
    width: 220px;
    height: 180px;
    border: 1px solid gainsboro;
    margin: 5px;
    border-radius: 15px;
}
.product-card img {
    margin-top: 30px;
    border-radius: 15px;
}
.product-card:hover img {
    transform: scale(1.1);
    margin-top: 30px;
    border-radius: 15px;
}

.product-card:hover .show-info{
    display: block;
}
.show-info{
    justify-content: center;
    display: flex;
    position: absolute;
    margin-left: 200px;
    display: none;
}
.Info {
    color: black;
    margin-right: 10px;
}
.Info:hover{
    margin-right: 10px;
    color: black;
}
.link-product{
    text-decoration: none;
}
.product-title{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.loading{
    position: fixed;
    left: 45%;
}
@media screen and (max-width : 400px) {
    .loading{
        position: fixed;
        left: 50%;
    }
}