.body {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
}
.add-product-btn {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border : none;
    background-color: #f44336;
    position: absolute;
    color: white;
    margin-left: 35%;
    margin-top: 520px;
}
.inputs {
    margin-top: 100px;
}
.times {
    margin: auto;
}